<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @message.user.email %>
</p>

<p>
  <b>To:</b>
  <%= User.find(@message.toUserId).email %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <div class="panel">
    <%= @message.body %>
  </div>
  
</p>



<p>
  <b>Date:</b>
  <%= @message.created_at.strftime("%B %d, %Y") %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
