<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @message.user.email %>
</p>

<p>
  <b>To:</b>
  <%= User.find(@message.toUserId).email %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <div class="panel">
    <%= @message.body %>
  </div>
  
</p>

<p>
  <b>Date:</b>
  <%= @message.created_at.strftime("%B %d, %Y") %>
</p>


<a href="#" data-reveal-id="modal01" >Reply</a> |
<%= link_to 'Back', messages_path %>

<div id="modal01" class="reveal-modal">
    <h3>Reply</h3>
    <%= render 'reply' %>
    <a href="" class="button">Cancel</a>
    <a class="close-reveal-modal">&times;</a>
</div>
